<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Todo-app</title>
  </head>
  <body>
    <h1>Todo-App with Vue.js</h1>
    <main id="app">
      <input :type="text" v-model="inputValue" name="" id="" />
      <button @click="addTodo">Add todo</button>
      <button @click="deleteTodo">Delete done todos</button>
      <ul>
        <li v-for="todo in todos">
          {{todo.description}}
          <input
            type="checkbox"
            v-model="todo.done"
            @change="updateTodo(todo)"
          />
        </li>
      </ul>
    </main>
    <script src="https://unpkg.com/vue@next"></script>
    <script src="script.js"></script>
  </body>
</html>
